Repository Co-Drive/Driver-Client, pull requests merged in 2024-07, with the labels that each got.

#6 [ Common ] 공통 input 컴포넌트 만들기
  src/common/.gitkeep
  src/common/CommonInput.tsx
  src/constants/CommonInput/inputConst.ts
  src/styles/globalStyle.ts
  src/styles/style.d.ts
  src/styles/theme.ts
  src/types/CommonInput/inputType.ts
Labels: 🐠 루밍, 👾 common

#7 [ Common ] icon 컴포넌트 만들기
  package.json
  src/assets/icon/ic_add.svg
  src/assets/icon/ic_arrow_bottom_gray.svg
  src/assets/icon/ic_arrow_left_fill.svg
  src/assets/icon/ic_arrow_right_fill.svg
  src/assets/icon/ic_arrow_right_gray.svg
  src/assets/icon/ic_arrow_right_small_gray.svg
  src/assets/icon/ic_arrow_top_gray.svg
  src/assets/icon/ic_btn_copy.svg
  src/assets/icon/ic_btn_information.svg
  src/assets/icon/ic_cancel_small.svg
  src/assets/icon/ic_group.svg
  src/assets/icon/ic_home.svg
  src/assets/icon/ic_logo.svg
  src/assets/icon/ic_success.svg
  src/assets/icon/ic_workbook.svg
  src/assets/index.ts
  tsconfig.app.json
  vite.config.ts
  yarn.lock
Labels: 🐬 문주, 👾 common

#8 [ Common ] input 글자 수, 타입 제한하는 함수 만들기
  src/common/CommonInput.tsx
  src/utils/handleInput.ts
Labels: 🐠 루밍, 👾 common

#21 [ Common ] 공통 textarea 구현
  src/common/CommonTextarea.tsx
  src/constants/CommonTextarea/textareaConst.ts
  src/main.tsx
  src/types/ CommonTextarea/TextareaType.ts
Labels: 🐠 루밍, 👾 common

#28 [ Common ] 공통 버튼 구현
  src/assets/icon/ic_add_black.svg
  src/assets/icon/ic_add_gray.svg
  src/assets/icon/ic_arrow_right_black.svg
  src/assets/index.ts
  src/common/CommonButton.tsx
  src/constants/CommonBtn/BtnContent.tsx
  src/types/CommonBtn/BtnType.tsx
Labels: 🐡 승택, 👾 common, 🖼️ publishing

#19 [ Common ] 헤더 컴포넌트 만들기
  src/App.tsx
  src/common/Header.tsx
  src/constants/Header/HeaderConst.tsx
  src/types/Header/HeaderType.tsx
Labels: 🐡 승택, 👾 common, 🖼️ publishing

#26 [ Common ] 공통 input 컴포넌트 바뀐 스타일 적용
  src/common/CommonInput.tsx
Labels: 🐠 루밍, 👾 common

#29 [ Common ] 공개/ 비밀 그룹 버튼 만들기
  src/assets/btn/btn_group_lock.svg
  src/assets/icon/ic_secret_big_white.svg
  src/assets/icon/ic_secret_gray.svg
  src/assets/icon/ic_secret_white.svg
  src/assets/icon/ic_unlock_gray.svg
  src/assets/icon/ic_unlock_white.svg
  src/assets/index.ts
  src/common/CommonInput.tsx
  src/common/GroupVisibilityBtn.tsx
  src/types/GroupVisibility/groupType.ts
Labels: 🐠 루밍, 👾 common

#36 [ deploy ] 공통 컴포넌트 구현한 내용을 develop에 머지
  package.json
  src/App.tsx
  src/assets/icon/ic_add.svg
  src/assets/icon/ic_add_black.svg
  src/assets/icon/ic_add_gray.svg
  src/assets/icon/ic_arrow_bottom_gray.svg
  src/assets/icon/ic_arrow_left_fill.svg
  src/assets/icon/ic_arrow_right_black.svg
  src/assets/icon/ic_arrow_right_fill.svg
  src/assets/icon/ic_arrow_right_gray.svg
  src/assets/icon/ic_arrow_right_small_gray.svg
  src/assets/icon/ic_arrow_top_gray.svg
  src/assets/icon/ic_btn_copy.svg
  src/assets/icon/ic_btn_information.svg
  src/assets/icon/ic_cancel_small.svg
  src/assets/icon/ic_group.svg
  src/assets/icon/ic_home.svg
  src/assets/icon/ic_logo.svg
  src/assets/icon/ic_secret_big_white.svg
  src/assets/icon/ic_secret_gray.svg
  src/assets/icon/ic_secret_white.svg
  src/assets/icon/ic_success.svg
  src/assets/icon/ic_unlock_gray.svg
  src/assets/icon/ic_unlock_white.svg
  src/assets/icon/ic_workbook.svg
  src/assets/index.ts
  src/common/.gitkeep
  src/common/CommonButton.tsx
  src/common/CommonInput.tsx
  src/common/CommonTextarea.tsx
  src/common/GroupVisibilityBtn.tsx
  src/common/Header.tsx
  src/constants/CommonBtn/BtnContent.tsx
  src/constants/CommonInput/inputConst.ts
  src/constants/CommonTextarea/textareaConst.ts
  src/constants/Header/HeaderConst.tsx
  src/main.tsx
  src/styles/globalStyle.ts
  src/styles/style.d.ts
  src/styles/theme.ts
  src/types/CommonBtn/BtnType.tsx
  src/types/CommonInput/inputType.ts
  src/types/CommonTextarea/TextareaType.ts
  src/types/GroupVisibility/groupType.ts
  src/types/Header/HeaderType.tsx
  src/utils/handleInput.ts
  tsconfig.app.json
  vite.config.ts
  yarn.lock
Labels: 🐠 루밍, 👨‍🎤 deploy

#35 [ Common ] 해시태그(언어선택시)
  src/common/CommonHashTag.tsx
  src/types/CommonHashTag/inputType.ts
Labels: 🐬 문주, 👾 common

#37 [ Solve ] 문제풀이 등록 뷰 퍼블리싱
  package.json
  src/assets/icon/ic_add_fill.svg
  src/assets/icon/ic_cancel_fill.svg
  src/assets/icon/ic_code.svg
  src/assets/icon/ic_information.svg
  src/assets/icon/ic_link_gray.svg
  src/assets/icon/ic_memo_white.svg
  src/assets/icon/ic_star_gray.svg
  src/assets/icon/ic_star_green.svg
  src/assets/index.ts
  src/components/Solve/CodeEditor.tsx
  src/components/Solve/CodeSpace.tsx
  src/components/Solve/Header/CodeSpaceHeader.tsx
  src/components/Solve/Header/HeaderTop.tsx
  src/components/Solve/Memo.tsx
  src/constants/CodeEditor/language.ts
  src/page/SolvePage.tsx
  src/styles/globalStyle.ts
  src/types/Solve/solveTypes.ts
  yarn.lock
Labels: 🐠 루밍, 😈 solve, 🖼️ publishing

#48 [ Hotfix ] 헤더, 페이지 레이아웃 수정
  src/common/Header.tsx
  src/components/PageLayout/PageLayout.tsx
Labels: 🐠 루밍, 👾 common, 🚨 hotfix

#43 [ Group ] 그룹 참여하기 - 비밀그룹 참여하기
  src/common/CommonButton.tsx
  src/common/Header.tsx
  src/components/PageLayout/PageLayout.tsx
  src/page/GroupJoin.tsx
  src/types/CommonBtn/BtnType.tsx
Labels: 🐡 승택, 👥 group, 🖼️ publishing

#44 [ Solve ] 문제 풀이 뷰 추가 퍼블리싱 (selectBox, input, 임시저장/ 등록하기 버튼 퍼블리싱 추가)
  src/assets/icon/ic_add_fill.svg
  src/assets/icon/ic_add_fill_disabled.svg
  src/assets/icon/ic_link_white.svg
  src/assets/icon/ic_memo_gray.svg
  src/assets/index.ts
  src/components/Solve/CodeEditor.tsx
  src/components/Solve/CodeSpace.tsx
  src/components/Solve/Header/CodeSpaceHeader.tsx
  src/components/Solve/Header/HeaderBottom.tsx
  src/components/Solve/Header/HeaderTop.tsx
  src/components/Solve/Header/PageHeader.tsx
  src/components/Solve/Memo.tsx
  src/constants/ Solve/SolveConts.ts
  src/page/SolvePage.tsx
  src/styles/style.d.ts
  src/styles/theme.ts
  src/types/Solve/solveTypes.ts
Labels: 🐠 루밍, 😈 solve, 🖼️ publishing

#50 [ Solve/ Solution ] 풀었던 문제 다시보기(본인) 뷰 퍼블리싱
  src/assets/icon/ic_link_purple.svg
  src/assets/index.ts
  src/common/CodeSpace/CodeEditor.tsx
  src/common/CodeSpace/Memo.tsx
  src/components/Solution/Header/SolutionHeaderBottom.tsx
  src/components/Solution/Header/SolutionHeaderTop.tsx
  src/components/Solve/CodeSpace.tsx
  src/page/.gitkeep
  src/page/SolutionPage.tsx
  src/types/Solve/solveTypes.ts
Labels: 🐠 루밍, 😈 solve, 🖼️ publishing, 😈 solution

#58 [ Follwer ] 참여 그룹 카드 퍼블리싱
  src/components/Follower/.gitkeep
  src/components/Follower/ParticipatingGroup.tsx
  src/page/FollowerPage.tsx
Labels: 🐠 루밍, 🖼️ publishing, 🌭 follower

#59 [ Follower ] 팔로워 추천 카드 퍼블리싱
  src/components/Follower/FollowerRecommendCard.tsx
  src/page/FollowerPage.tsx
Labels: 🐠 루밍, 🖼️ publishing, 🌭 follower

#56 [ Register ] 회원가입 뷰 selectBox 퍼블리싱
  src/components/Register/Options.tsx
  src/components/Register/Select.tsx
  src/components/Register/SelectBox.tsx
  src/constants/SelectBox/OptionsConst.tsx
  src/types/Register/RegisterType.tsx
Labels: 🐬 문주, 🖼️ publishing, 📋 register

#61 [ deploy ] feat/solve -> dev 머지
  package.json
  src/assets/icon/ic_add_fill.svg
  src/assets/icon/ic_add_fill_disabled.svg
  src/assets/icon/ic_arrow_up_big.svg
  src/assets/icon/ic_cancel_fill.svg
  src/assets/icon/ic_code.svg
  src/assets/icon/ic_information.svg
  src/assets/icon/ic_link_gray.svg
  src/assets/icon/ic_link_purple.svg
  src/assets/icon/ic_link_white.svg
  src/assets/icon/ic_memo_gray.svg
  src/assets/icon/ic_memo_white.svg
  src/assets/icon/ic_star_gray.svg
  src/assets/icon/ic_star_green.svg
  src/assets/index.ts
  src/common/CodeSpace/CodeEditor.tsx
  src/common/CodeSpace/Memo.tsx
  src/components/Solution/Header/SolutionHeaderBottom.tsx
  src/components/Solution/Header/SolutionHeaderTop.tsx
  src/components/Solve/CodeSpace.tsx
  src/components/Solve/Header/CodeSpaceHeader.tsx
  src/components/Solve/Header/HeaderBottom.tsx
  src/components/Solve/Header/HeaderTop.tsx
  src/components/Solve/Header/PageHeader.tsx
  src/constants/ Solve/SolveConts.ts
  src/constants/CodeEditor/language.ts
  src/page/.gitkeep
  src/page/SolutionPage.tsx
  src/page/SolvePage.tsx
  src/styles/globalStyle.ts
  src/styles/style.d.ts
  src/styles/theme.ts
  src/types/Solve/solveTypes.ts
  yarn.lock
Labels: 😈 solve, 😈 solution, 👨‍🎤 deploy

#60 [ Follower ] 팔로워 개인 뷰 퍼블리싱
  src/assets/icon/ic_github.svg
  src/assets/index.ts
  src/components/Follower/FollowerInfo.tsx
  src/components/Follower/Personal/FollowerRecommendCard.tsx
  src/components/Follower/Personal/ParticipatingGroup.tsx
  src/page/FollowerPage.tsx
Labels: 🐠 루밍, 🖼️ publishing, 🌭 follower

#64 [ Solution ] 디자인 변경사항 반영 및 팔로워/ 개인 뷰 분기
  src/assets/btn/btn_heart.svg
  src/assets/btn/btn_share.svg
  src/assets/index.ts
  src/components/Solution/Header/SolutionHeaderBottom.tsx
  src/components/Solution/Header/SolutionHeaderTop.tsx
  src/page/SolutionPage.tsx
Labels: 🐠 루밍, 🖼️ publishing, 🌭 follower

#68 [ Follower ] 주간 보드 클릭 시 당일 푼 문제 모달 구현, 페이지네이션 구현
  src/assets/icon/ic_arrow_left_small_gray.svg
  src/assets/index.ts
  src/components/Follower/CurrentSituation/SolvedQuestionModal.tsx
  src/components/Follower/CurrentSituation/WeeklyCurrent.tsx
  src/constants/Follower/currentConst.ts
  src/page/FollowerCurrentPage.tsx
Labels: 🐠 루밍, 🖼️ publishing, 🌭 follower

#66 [ Follower ] 팔로워 현황 퍼블리싱
  src/assets/icon/ic_arrow_left_small_gray.svg
  src/assets/icon/ic_star_mini_gray.svg
  src/assets/icon/ic_star_mini_yellow.svg
  src/assets/index.ts
  src/assets/test_weekboard_status.svg
  src/components/Follower/CurrentSituation/.gitkeep
  src/components/Follower/CurrentSituation/Header.tsx
  src/components/Follower/CurrentSituation/SolvedQuestionModal.tsx
  src/components/Follower/CurrentSituation/WeeklyCurrent.tsx
  src/components/Follower/Personal/FollowerRecommendCard.tsx
  src/components/Follower/Personal/ParticipatingGroup.tsx
  src/constants/Follower/currentConst.ts
  src/constants/Follower/followerConst.ts
  src/page/FollowerCurrentPage.tsx
  src/page/FollowerPage.tsx
  src/types/.gitkeep
  src/types/Follower/Current/currentType.ts
  src/types/Follower/Personal/personalType.ts
Labels: 🐠 루밍, 🖼️ publishing, 🌭 follower

#55 [ Group ] 그룹생성하기 - 비밀그룹 완료 퍼블리싱
  src/assets/icon/thumbnail.svg
  src/assets/index.ts
  src/page/GroupComplete.tsx
  src/types/GroupComplte/CompleteType.tsx
Labels: 🐡 승택, 👥 group, 🖼️ publishing

#76 [ deploy ] group/complete -> dev
  src/assets/icon/thumbnail.svg
  src/assets/index.ts
  src/page/GroupComplete.tsx
  src/types/GroupComplte/CompleteType.tsx
Labels: 🐡 승택, 👥 group

#77 [ deploy ] feat/solution -> dev 머지
  src/assets/btn/btn_heart.svg
  src/assets/btn/btn_share.svg
  src/assets/index.ts
  src/components/Solution/Header/SolutionHeaderBottom.tsx
  src/components/Solution/Header/SolutionHeaderTop.tsx
  src/page/SolutionPage.tsx
Labels: 🐠 루밍, 😈 solution, 👨‍🎤 deploy

#75 [ deploy ] feat/follower -> dev 머지
  src/assets/icon/ic_arrow_left_small_gray.svg
  src/assets/icon/ic_github.svg
  src/assets/icon/ic_star_mini_gray.svg
  src/assets/icon/ic_star_mini_yellow.svg
  src/assets/index.ts
  src/assets/test_weekboard_status.svg
  src/components/.gitkeep
  src/components/Follower/CurrentSituation/Header.tsx
  src/components/Follower/CurrentSituation/SolvedQuestionModal.tsx
  src/components/Follower/CurrentSituation/WeeklyCurrent.tsx
  src/components/Follower/FollowerInfo.tsx
  src/components/Follower/Personal/FollowerRecommendCard.tsx
  src/components/Follower/Personal/ParticipatingGroup.tsx
  src/constants/Follower/currentConst.ts
  src/constants/Follower/followerConst.ts
  src/page/FollowerCurrentPage.tsx
  src/page/FollowerPage.tsx
  src/types/.gitkeep
  src/types/Follower/Current/currentType.ts
  src/types/Follower/Personal/personalType.ts
Labels: 🐠 루밍, 🌭 follower, 👨‍🎤 deploy

#78 [ Solve ] 임시저장 모달, 링크복사 모달 구현
  index.html
  src/assets/icon/ic_cancel_small_white.svg
  src/assets/index.ts
  src/common/Modal/LinkCopyModalForm.tsx
  src/common/Modal/Modal.tsx
  src/common/Modal/ModalPortal.tsx
  src/common/Modal/SaveModalForm.tsx
  src/components/Solution/Header/SolutionHeaderTop.tsx
  src/components/Solve/Header/HeaderBottom.tsx
  src/components/Solve/Header/PageHeader.tsx
  src/page/GroupComplete.tsx
  src/types/Solve/solveTypes.ts
  src/utils/handleCopyClipBoard.ts
Labels: 🐠 루밍, 😈 solve, 🖼️ publishing, 😈 solution

#82 [ Deploy ] feat/solve -> dev 머지
  index.html
  src/assets/icon/ic_cancel_small_white.svg
  src/assets/index.ts
  src/common/Modal/LinkCopyModalForm.tsx
  src/common/Modal/Modal.tsx
  src/common/Modal/ModalPortal.tsx
  src/common/Modal/SaveModalForm.tsx
  src/components/Solution/Header/SolutionHeaderTop.tsx
  src/components/Solve/Header/PageHeader.tsx
  src/page/GroupComplete.tsx
  src/types/Solve/solveTypes.ts
  src/utils/handleCopyClipBoard.ts
Labels: 🐠 루밍, 😈 solve, 👨‍🎤 deploy
